*{
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #232254;
}
#root{
  width: 100%;
  padding: 20px 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 5%;
  right: 5%;
  top: 10px;
  background-color: #e876fc;
  border-radius: 15px;
  z-index: 100;
}
.header:hover {
  background-color: #eb8cfc;
}
.header .logoBox{
  height: 75%;
  width: 20%;
  max-width: 110px;
  margin-left: 3%;
}

.header .logoBox .logo {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.header .navBox {
  height: 95%;
  width: max-content;
}
.header .navBox ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 10px;
  color: #ffffff;
}
.header .navBox ul li {
  padding: 10px;

}

.header .loginBtn {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.header .loginBtn:hover {
  background-color: #e458fd;
  color: #ffffff;
  box-shadow: 0 0 10px #fff;
}
.header .loginBtn:active {
 opacity: 0.5;
}

.profileBox{
  height: 50px;
  width: 50px;
  margin-right: 5%;
  position: relative;
}
.profileBox .profileImg{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profileBox span {
  position: absolute;
  bottom: -18px;
  right: 50%;
  transform: translate(50%);
  color: #fff;
  text-shadow: -2px -2px 3px #ffff00;
  width: max-content;
}

.body {
  margin-top: 105px;
  
}
.searchBox {
  border-radius: 27px;
  width: 60%;
  margin: 10px auto;
  overflow: hidden;
}
.searchBox input,
.searchBox button {
  height: 55px;
  font-size: 20px;
  outline: none;
}
.searchBox input {
  width: 80%;
  text-indent: 10%;
}
.searchBox button{
  width: 20%;
  border-left: 1px solid #c1c0c0;
  cursor: pointer;
}
.searchBox button:hover {
  opacity: 0.9;
}
.searchBox button:active {
  opacity: 0.6;
}

.filter_box {
  margin-block: 20px;
  margin: 20px 5%;
  border: 1px solid lightgray;
  padding: 10px 10px;
  border-radius: 10px;
}
.filter_box .filter_btn{
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.filter_box .filter_btn:hover {
  opacity: 0.9;
}

.filter_box .active {
  background-color: #232254;
  color: #fff;
  box-shadow: 0 0 10px #ebebeb;
}

.heading_box {
  margin-block: 20px;
  padding-left: 5%;
}
.heading_box h1 {
  color: #fff;
}


.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 20px;
  padding: 0 2%;
}
.restaurantCard {
  width: 320px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;

}
.restaurantCard:hover {
  background-color: #94d5fa79;
}
.restaurantCard .bannerBox {
  position: relative;
}
.restaurantCard .bannerBox img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}
.restaurantCard .bannerBox p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #232254bf;

}
.restaurantCard .cardDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}

.restaurantCard .cardDetails .title_box,
.restaurantCard .cardDetails .cardDatails_box2,
.restaurantCard .cardDetails .cardDatails_box3,
.restaurantCard .cardDetails .safetyInfo_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title_box p {
  background-color: #018501;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
}

.restaurantCard .cardDetails .cardDatails_box2 {
  font-size: 14px;
  color: #e2e2e2;
}

.cardDatails_box3 p {
  font-size: 13px;
}


.restaurantCard .cardDetails .safetyInfo_box {
  border-top: 1px solid #d3d3d3;
  padding-top: 10px;
}
.safetyInfo_box img {
  width: 50px;
}
.safetyInfo_box p {
  padding-left: 10px;
  font-size: 14px;
  color: #dedede;
}