/*  */
*{
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #232254;
}
#root{
  width: 100%;
  padding: 20px 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 5%;
  right: 5%;
  top: 10px;
  background-color: #e876fc;
  border-radius: 15px;
  z-index: 100;
}
.header:hover {
  background-color: #eb8cfc;
}
.header .logoBox{
  height: 75%;
  width: 20%;
  max-width: 110px;
  margin-left: 3%;
}

.logoBox .logo {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.navBox {
  height: 95%;
  width: max-content;
  /* flex: 1; */
  /* margin: 0 5% 0 10%; */
}
.navBox ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 10px;
  color: #ffffff;
}
.navBox ul li {
  padding: 10px;

}

.profileBox{
  height: 50px;
  width: 50px;
  margin-right: 5%;
  position: relative;
}
.profileBox .profileImg{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profileBox span {
  position: absolute;
  bottom: -18px;
  right: 50%;
  transform: translate(50%);
  /* display: none; */
  color: #fff;
  text-shadow: -2px -2px 3px #ffff00;
  width: max-content;
}
/* .profileBox span:hover {
  display: block;
} */

/** styling body */
.body {
  margin-top: 105px;
  
}
.searchBox {
  border-radius: 27px;
  width: 60%;
  margin: 10px auto;
  overflow: hidden;
}

.searchBox input,
.searchBox button {
  height: 55px;
  font-size: 20px;
  outline: none;
}
.searchBox input {
  width: 80%;
  text-indent: 10%;
}
.searchBox button{
  width: 20%;
  border-left: 1px solid #c1c0c0;
  cursor: pointer;
}
.searchBox button:hover {
  opacity: 0.9;
}
.searchBox button:active {
  opacity: 0.6;
}


.filter_box {
  margin-block: 20px;
  margin: 20px 5%;
  border: 1px solid lightgray;
  padding: 10px 10px;
  border-radius: 10px;
}
.filter_box .filter_btn{
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.filter_box .filter_btn:hover {
  opacity: 0.9;
}

.filter_box .active {
  background-color: #232254;
  color: #fff;
  box-shadow: 0 0 10px #ebebeb;
}

.heading_box {
  margin-block: 20px;
  padding-left: 5%;
}
.heading_box h1 {
  color: #fff;
}



.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 20px;
  padding: 10px;
}
.restaurantCard {
  width: 300px;
  background-color: #90e4fc6f;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;

}
.restaurantCard:hover {
  border: 1px solid #ffffff;
}
.restaurantCard .bannerBox {
  position: relative;
}
.restaurantCard .bannerBox img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
}
.restaurantCard .bannerBox span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  /* right: 5px; */
  padding: 5px 10px;
  font-size: 20px;
  background-color: #232254bf;

}
.restaurantCard .cardDetails {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
}
/* .restaurantCard .cardDetails h5 {
  width: 100%;
} */




/* * Shimmer UI Styling... */
.shimmerCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  margin-top: 120px;
  padding: 10px;
}
.shimmerCardBox {
  width: 300px;
  background-color: #90e4fc6f;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.shimmerCardBox:hover {
  border: 1px solid #ffffff;
  width: 290px;
}
.shimmerCardBox .ShimmerBannerBox {
  position: relative;
}
.shimmerCardBox .ShimmerBannerBox img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
  box-shadow: 0 0 10px #c4c4c4;
}
.shimmerCardBox .ShimmerBannerBox span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 20px;
  background-color: #d3d3d3;
}
.shimmerCardBox .ShimmerCardDetails {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  box-shadow: 0 0 5px #a1a1a1;
}
.shimmerCardBox .ShimmerCardDetails h3 {
  width: 100%;
  height: 20px;
  background-color: #c5c4c4;
  border-radius: 5px;
}
.shimmerCardBox .ShimmerCardDetails h5 {
  width: 50%;
  height: 20px;
  background-color: #d8d7d7;
  border-radius: 5px;
}